<template>
  <Backendlayout>
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Add Role</li>
        </ol>
        <div class="box_general padding_bottom">
          <div class="header_box version_2">
            <h2><i class="fa fa-home"></i>Role</h2>
          </div>
          <form autocomplete="off" @submit.prevent="createRole()" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Role Name</label>
                  <input
                    type="text"
                    v-model="role_name"
                    class="form-control"
                    placeholder="Enter Role..."
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Module Name</label>
                  <div class="styled-select">
                    <select v-model="module_name">
                      <option
                        v-for="(table, index) in roleData"
                        :value="table"
                        :key="index"
                      >
                        {{ table }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!-- /row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Short Code</label>
                  <input
                    type="text"
                    v-model="short_code"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-check food">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="true"
                    v-model="create"
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Create
                  </label>
                </div>
                <div class="form-check food">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="true"
                    v-model="update"
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Update
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-check food">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="true"
                    v-model="read"
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Read
                  </label>
                </div>
                <div class="form-check food">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="true"
                    v-model="delt"
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Delete
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="submitbtn">
                  <button type="submit" class="btn_1 medium">Submit</button>
                </div>
                <alert v-if="msg" :msg="msg" :classAlert="classAlert"></alert>
              </div>
            </div>
            <!-- /row-->
          </form>
        </div>
        <!-- /box_general-->
      </div>
      <!-- /.container-fluid-->
    </div>
  </Backendlayout>
</template>

<script>
import Backendlayout from "../../layouts/Backendlayout.vue";
import router from "../../router";
import API from "../../services/index.js";
import Alert from "../../components/Alert";

export default {
  data() {
    return {
      role_name: "",
      module_name: "employees",
      short_code: "",
      create: [],
      read: [],
      update: [],
      delt: [],
      msg: null,
      classAlert: null,
      roleData: [],
    };
  },
  components: {
    Backendlayout,
    Alert,
  },

  beforeMount() {
    this.getTables();
  },

  methods: {
    getTables() {
      const token = "Bearer " + localStorage.getItem("token");
      // alert(token);

      API.get("role/list_table", {
        headers: { Authorization: token },
      })
        .then((res) => {
          this.roleData = res.data.data;
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
    createRole() {
      const form = new FormData();
      form.append("role_name", this.role_name);
      form.append("module_name", this.module_name);
      form.append("short_code", this.short_code);
      form.append("create", this.create);
      form.append("read", this.read);
      form.append("update", this.update);
      form.append("delete", this.delt);
      const token = "Bearer " + localStorage.getItem("token");
      API.post("/role/add_role", form, {
        headers: { Authorization: token },
      }).then((res) => {
        if (res.data.status == 200) {
          this.msg = "Role successfully created";
          this.classAlert = "success";
          router.push("/create-role");
        } else {
          this.msg = "Role is not created";
          this.classAlert = "danger";
        }
      });
      //axios
    },
  },
};
</script>
<style scoped>
.submitbtn {
  padding: 33px 0px;
}
.form-check {
  position: relative;
  top: 30px;
}
</style>
