<template>
  <Backendlayout>
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Add Categories</li>
        </ol>
        <div class="box_general padding_bottom">
          <div class="header_box version_2">
            <h2><i class="fa fa-home"></i>Categories</h2>
          </div>
          <form
            autocomplete="off"
            @submit.prevent="createServices()"
            method="post"
          >
            <div class="row">
              <div class="col-md-12">
                <table style="width: 100%">
                  <tr
                    class="pricing-list-item"
                    v-for="(input, ik) in inputs"
                    :key="ik"
                  >
                    <td>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Select Parent Id</label>
                            <div class="styled-select">
                              <select v-model="input.parent_id" class="select2">
                                <option value="0">-Select-</option>
                                <option
                                  v-for="(cat, index) in categories"
                                  :value="cat.id"
                                  :key="index"
                                >
                                  {{ cat.category }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Category Name</label>
                            <input
                              type="text"
                              v-model="input.category"
                              class="form-control"
                              placeholder="Enter Category..."
                              name="categories[][category]"
                            />
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label>Priority</label>
                            <input
                              type="number"
                              v-model="input.priority"
                              class="form-control"
                              name="categories[][priority]"
                            />
                          </div>
                        </div>
                        <div class="col-md-2 d-flex align-items-center">
                          <div class="form-group">
                            <a
                              href="#"
                              class="btn_1 gray add-pricing-list-item"
                              @click="add()"
                              v-show="ik == inputs.length - 1"
                            >
                              <i class="fa fa-fw fa-plus-circle"></i>Add Item</a
                            >
                            <a
                              href="#"
                              class="btn_1 gray add-pricing-list-item"
                              @click="remove(ik)"
                              v-show="ik || (!ik && inputs.length > 1)"
                            >
                              <i class="fa fa-fw fa-remove"></i>
                              Remove Item</a
                            >
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="submitbtn">
                  <button type="submit" class="btn_1 medium">Submit</button>
                </div>
                <alert v-if="msg" :msg="msg" :classAlert="classAlert"></alert>
              </div>
            </div>
            <!-- /row-->
          </form>
        </div>
        <!-- /box_general-->
      </div>
      <!-- /.container-fluid-->
    </div>
  </Backendlayout>
</template>

<script>
import Backendlayout from "../../layouts/Backendlayout.vue";
// import router from "../../router";
import API from "../../services/index.js";
import Alert from "../../components/Alert";

export default {
  data() {
    return {
      msg: null,
      classAlert: null,
      categories: [],
      inputs: [
        {
          priority: 0,
          category: "",
          parent_id: 0,
        },
      ],
    };
  },
  components: {
    Backendlayout,
    Alert,
  },

  beforeMount() {
    this.getParentservices();
  },

  methods: {
    getParentservices() {
      const token = "Bearer " + localStorage.getItem("token");
      // alert(token);

      API.get("categories/parent_services", {
        headers: { Authorization: token },
      })
        .then((res) => {
          this.categories = res.data.data;
          console.log(this.categories);
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
    createServices() {
      const form = new FormData();
      form.append("categories", JSON.stringify(this.inputs));

      const token = "Bearer " + localStorage.getItem("token");
      API.post("/categories/create", form, {
        headers: { Authorization: token },
      }).then((res) => {
        console.log(res.data);
        this.msg = res.data.messages;
        if (res.data.status == 200) {
          this.classAlert = "success";
          this.$router.push("/all-categories");
          this.inputs = [
            {
              priority: 0,
              category: "",
              parent_id: 0,
            },
          ];
        } else {
          this.classAlert = "danger";
        }
      });
      //axios
    },
    add() {
      //alert(index);
      this.inputs.push({ parent_id: 0, category: "", priority: "" });
      window.scrollTo(0, document.body.scrollHeight);
      /*this.inputs.push({ category: "" });
      this.inputs.push({ priority: "" });*/
    },
    remove(index) {
      this.inputs.splice(index, 1);
    },
  },
};
</script>
<style scoped>
.submitbtn {
  padding: 33px 0px;
}
a.btn_1.gray,
.btn_1.gray {
  background: #0054a6 !important;
  color: #fff !important;
}
</style>
