<template>
  <Backendlayout>
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Categories</li>
        </ol>
        <div class="box_general">
          <div class="header_box">
            <h2 class="d-inline-block">Category Details</h2>
          </div>
          <div class="list_general">
            <ul>
              <li>
                <h4>{{ categoryData.category }}</h4>
                <ul class="booking_list">
                  <li>
                    <strong>Parent Id</strong>{{ categoryData.parent_id }}
                  </li>
                  <li><strong>Slug</strong>{{ categoryData.slug }}</li>
                  <li><strong>Priority</strong>{{ categoryData.priority }}</li>
                  <li><strong>Created By</strong>{{ categoryData.created }}</li>
                  <li>
                    <strong>Modified By</strong>{{ categoryData.modified_by }}
                  </li>
                  <li><strong>Created</strong>{{ created }}</li>
                  <li><strong>Modified</strong>{{ modified }}</li>
                  <li>
                    <strong>Is Active</strong>
                    <i
                      v-if="categoryData.is_active === '1'"
                      class="fa fa-check alert-success"
                    ></i
                    ><i v-else class="fa fa-times alert-danger"></i>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- /box_general-->
      </div>
      <!-- /.container-fluid-->
    </div>
  </Backendlayout>
</template>

<script>
import Backendlayout from "../../layouts/Backendlayout.vue";
import API from "../../services/index.js";
export default {
  data() {
    return {
      catId: this.$route.params.id,
      token: "Bearer " + localStorage.getItem("token"),
      msg: null,
      classAlert: null,
      categoryData: [],
      created: "",
      modified: "",
    };
  },
  components: {
    Backendlayout,
  },

  beforeMount() {
    this.getParentservices();
    this.getCategory();
  },

  methods: {
    getCategory() {
      //alert(this.catId);
      API.get("categories/category_details/" + this.catId, {
        headers: { Authorization: this.token },
      })
        .then((res) => {
          this.categoryData = res.data.data;
          this.created = this.$root.frontEndDateFormat(
            this.categoryData.created
          );
          if (this.categoryData.modified) {
            this.modified = this.$root.frontEndDateFormat(
              this.categoryData.modified
            );
          }
        })
        .catch((err) => {
          console.log(err.response);
        });
    },

    getParentservices() {
      const token = "Bearer " + localStorage.getItem("token");
      // alert(token);

      API.get("categories/parent_services", {
        headers: { Authorization: token },
      })
        .then((res) => {
          this.categories = res.data.data;
          console.log(this.categories);
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
  },
};
</script>
