<template>
  <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li
      class="nav-item"
      data-toggle="tooltip"
      data-placement="right"
      title="Dashboard"
    >
      <a class="nav-link" href="index.html">
        <i class="fa fa-fw fa-dashboard"></i>
        <span class="nav-link-text">Dashboard</span>
      </a>
    </li>
    
     <li
      class="nav-item"
      data-toggle="tooltip"
      data-placement="right"
      title="Components"
    >
      <a
        class="nav-link nav-link-collapse collapsed"
        data-toggle="collapse"
        href="#collapseRoles"
      >
        <i class="fa fa-fw fa-users"></i>
        <span class="nav-link-text">Roles</span>
      </a>
      <ul class="sidenav-second-level collapse" id="collapseRoles">
        <li>
          <a href="/create-role">Add Roles</a>
        </li>
        <li>
          <a href="/roles">View Roles</a>
        </li>
      </ul>
    </li>
    
    <li
      class="nav-item"
      data-toggle="tooltip"
      data-placement="right"
      title="Components"
    >
      <a
        class="nav-link nav-link-collapse collapsed"
        data-toggle="collapse"
        href="#collapseUsers"
      >
        <i class="fa fa-fw fa-users"></i>
        <span class="nav-link-text">Users</span>
      </a>
      <ul class="sidenav-second-level collapse" id="collapseUsers">
        <li>
          <a href="/create-user">Add Users</a>
        </li>
        <li>
          <a href="/all-users">View Users</a>
        </li>
      </ul>
    </li>

    <li
      class="nav-item"
      data-toggle="tooltip"
      data-placement="right"
      title="Components"
    >
      <a
        class="nav-link nav-link-collapse collapsed"
        data-toggle="collapse"
        href="#collapseCat"
      >
        <i class="fa fa-fw fa-users"></i>
        <span class="nav-link-text">Categories</span>
      </a>
      <ul class="sidenav-second-level collapse" id="collapseCat">
        <li>
          <a href="/create-categories">Add Categories</a>
        </li>
        <li>
          <a href="/all-categories">View Categories</a>
        </li>
      </ul>
    </li>

    <li
      class="nav-item"
      data-toggle="tooltip"
      data-placement="right"
      title="My profile"
    >
      <a class="nav-link" href="/my-profile">
        <i class="fa fa-fw fa-user"></i>
        <span class="nav-link-text">My Profile</span>
      </a>
    </li>
   
  </ul>
</template>

<script>
export default {
  props: ["loggedIn"],
  data() {
    return {
      brand: process.env.VUE_APP_APPNAME,
    };
  },

  methods: {
    logout() {
      this.$store.dispatch("logout");
    },
  },
};
</script>

<style scoped>
  .fa-fw{
    position: relative;
    right: 10px;
  }
</style>