<template>
  <Backendlayout>
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Add Role</li>
        </ol>
        <form autocomplete="off" @submit.prevent="updateRole()" method="post">
          <div class="box_general">
            <div class="header_box version_2">
              <h2><i class="fa fa-home"></i>Role</h2>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Role Name</label>
                  <input
                    type="text"
                    v-model="roleData.role_name"
                    class="form-control"
                    placeholder="Enter Role..."
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Module Name</label>
                  <div class="styled-select">
                    <select v-model="roleData.module_name">
                      <option
                        v-for="(table, index) in tableData"
                        :value="table"
                        :key="index"
                      >
                        {{ table }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!-- /row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Short Code</label>
                  <input
                    type="text"
                    v-model="roleData.short_code"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-check food">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    true-value="1"
                    false-value="0"
                    v-model="roleData.is_active"
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Active
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2><center>Access Rights</center></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-check food">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    v-model="roleData.create"
                    id="flexCheckDefault"
                    true-value="1"
                    false-value="0"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Create
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    v-model="roleData.update"
                    true-value="1"
                    false-value="0"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Update
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    v-model="roleData.read"
                    id="flexCheckDefault"
                    true-value="1"
                    false-value="0"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Read
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-check food">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    true-value="1"
                    false-value="0"
                    v-model="roleData.delete"
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Delete
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- /box_general-->
          <div class="box_general padding_bottom">
            <div class="row">
              <div class="col-md-12">
                <div class="submitbtn">
                  <button type="submit" class="btn_1 medium">Submit</button>
                </div>
                <alert v-if="msg" :msg="msg" :classAlert="classAlert"></alert>
              </div>
            </div>
            <!-- /row-->
          </div>
        </form>
      </div>
      <!-- /.container-fluid-->
    </div>
  </Backendlayout>
</template>


<script>
import Backendlayout from "../../layouts/Backendlayout.vue";
import API from "../../services";
// import router from "../../router";
import Alert from "../../components/Alert";
export default {
  data() {
    return {
      token: "Bearer " + localStorage.getItem("token"),
      roleId: this.$route.params.id != null ? this.$route.params.id : 0,
      msg: null,
      classAlert: null,
      roleData: [],
      tableData: [],
    };
  },
  components: {
    Backendlayout,
    Alert,
  },

  beforeMount() {
    this.getRoles();
    this.getTables();
  },

  methods: {
    getTables() {
      API.get("role/list_table", {
        headers: { Authorization: this.token },
      })
        .then((res) => {
          this.tableData = res.data.data;
        })
        .catch((err) => {
          console.log(err.response);
        });
    },

    getRoles() {
      API.get("role/get_roleby_id/" + this.roleId, {
        headers: { Authorization: this.token },
      })
        .then((res) => {
          console.log(res);
          this.roleData = res.data.data;
          console.log(this.roleData.update);
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
    updateRole() {
      console.log(this.roleData);
      //alert(this.roleData.is_active);
      const form = new FormData();
      form.append("role_name", this.roleData.role_name);
      form.append("module_name", this.roleData.module_name);
      form.append("short_code", this.roleData.short_code);
      form.append("is_active", this.roleData.is_active);
      form.append("create", this.roleData.create);
      form.append("read", this.roleData.read);
      form.append("update", this.roleData.update);
      form.append("delete", this.roleData.delete);
      const token = "Bearer " + localStorage.getItem("token");
      API.post("/role/update_role/" + this.roleId, form, {
        headers: { Authorization: token },
      }).then((res) => {
        if (res.data.status == 200) {
          this.msg = res.data.messages;
          this.classAlert = "success";
          window.location.href = "/roles";
        } else {
          this.msg = res.data.messages;
          this.classAlert = "danger";
        }
      });
      //axios
    },
  },
};
</script>
<style scoped>
.submitbtn {
  padding: 33px 0px;
}
.form-check {
  position: relative;
  top: 30px;
}
</style>
