<template>
  <Backendlayout>
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Roles</li>
        </ol>
        <div class="box_general">
          <div class="header_box">
            <h2 class="d-inline-block">All Roles</h2>
          </div>
          <div class="list_general">
            <table class="table">
              <tr>
                <th>#</th>
                <th>Category</th>
                <th>Role</th>
                <th>Active/Inactive</th>
                <th>Create</th>
                <th>Read</th>
                <th>Update</th>
                <th>Delete</th>
                <th>Action</th>
              </tr>
              <tbody>
                <tr v-for="(role, index) in roleData" :key="role.id">
                  <th scope="row">{{ index + 1 }}</th>
                  <td>{{ role.module_name }}</td>
                  <td>{{ role.role_name }}</td>
                  <td>
                    <i
                      v-if="role.is_active === '1'"
                      class="fa fa-check alert-success"
                    ></i
                    ><i v-else class="fa fa-times alert-danger"></i>
                  </td>
                  <td>
                    <i
                      v-if="role.create === '1'"
                      class="fa fa-check alert-success"
                    ></i
                    ><i v-else class="fa fa-times alert-danger"></i>
                  </td>
                  <td>
                    <i
                      v-if="role.read === '1'"
                      class="fa fa-check alert-success"
                    ></i
                    ><i v-else class="fa fa-times alert-danger"></i>
                  </td>
                  <td>
                    <i
                      v-if="role.update === '1'"
                      class="fa fa-check alert-success"
                    ></i
                    ><i v-else class="fa fa-times alert-danger"></i>
                  </td>
                  <td>
                    <i
                      v-if="role.delete === '1'"
                      class="fa fa-check alert-success"
                    ></i
                    ><i v-else class="fa fa-times alert-danger"></i>
                  </td>

                  <td>
                    <a
                      :href="
                        '/view-role-details/' + this.$root.encodeString(role.id)
                      "
                      ><i class="fa fa-eye"></i
                    ></a>
                    <a :href="'/edit-role/' + this.$root.encodeString(role.id)"
                      ><i class="fa fa-pencil"></i
                    ></a>

                    <a href="#" @click="deleteRole(role.id)"
                      ><i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
                <alert v-if="msg" :msg="msg" :classAlert="classAlert"></alert>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /box_general-->
      </div>
      <!-- /.container-fluid-->
    </div>
  </Backendlayout>
</template>

<script>
import Backendlayout from "../../layouts/Backendlayout.vue";
import API from "../../services/index.js";
// import router from "../../router";
import Alert from "../../components/Alert";

export default {
  data() {
    return {
      msg: null,
      classAlert: null,
      roleData: [],
    };
  },
  components: {
    Backendlayout,
    Alert,
  },

  beforeMount() {
    this.getRoles();
  },

  methods: {
    getRoles() {
      const token = "Bearer " + localStorage.getItem("token");
      API.get("role/role_list", {
        headers: { Authorization: token },
      })
        .then((res) => {
          this.roleData = res.data.data;
        })
        .catch((err) => {
          console.log(err.response);
        });
    },

    deleteRole(roleId) {
      var result = confirm("Want to delete?");
      if (result) {
        const form = new FormData();
        form.append("id", roleId);
        const token = "Bearer " + localStorage.getItem("token");
        API.post("/role/delete_role", form, {
          headers: { Authorization: token },
        }).then((res) => {
          if (res.data.status == 200) {
            this.msg = res.data.message;
            this.classAlert = "success";
            this.$router.push("/roles");
          } else {
            this.msg = res.data.message;
            this.classAlert = "danger";
          }
        });
        //axios
      }
    },
  },
};
</script>
<style scoped>
table .fa {
  margin-left: 12px !important;
}
</style>
