<template>
  <Backendlayout>
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Roles</li>
        </ol>
        <div class="box_general">
          <div class="header_box">
            <h2 class="d-inline-block">Role Details</h2>
            
          </div>
          <div class="list_general">
            <ul>
              <li>
                <figure><img src="img/item_1.jpg" alt="" /></figure>
                <h4>{{ roleData.role_name }}</h4>
                <ul class="booking_list">
                  <li>
                    <strong>Module Name</strong>{{ roleData.module_name }}
                  </li>
                  <li><strong>Short Code</strong>{{ roleData.short_code }}</li>
                  <li><strong>Created By</strong>{{ roleData.created_by }}</li>
                  <li><strong>Created</strong>{{ roleData.created }}</li>
                  <li>
                    <strong>Modified By</strong>{{ roleData.modified_by }}
                  </li>
                  <li><strong>Modified</strong>{{ roleData.modified }}</li>
                  <li>
                    <strong>Create</strong>
                    <i
                      v-if="roleData.create === '1'"
                      class="fa fa-check alert-success"
                    ></i
                    ><i v-else class="fa fa-times alert-danger"></i>
                  </li>
                  <li>
                    <strong>Read</strong>
                    <i
                      v-if="roleData.read === '1'"
                      class="fa fa-check alert-success"
                    ></i
                    ><i v-else class="fa fa-times alert-danger"></i>
                  </li>
                  <li>
                    <strong>Update</strong>
                    <i
                      v-if="roleData.update === '1'"
                      class="fa fa-check alert-success"
                    ></i
                    ><i v-else class="fa fa-times alert-danger"></i>
                  </li>
                  <li>
                    <strong>Delete</strong>
                    <i
                      v-if="roleData.delete === '1'"
                      class="fa fa-check alert-success"
                    ></i
                    ><i v-else class="fa fa-times alert-danger"></i>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- /box_general-->
      </div>
      <!-- /.container-fluid-->
    </div>
  </Backendlayout>
</template>

<script>
import Backendlayout from "../../layouts/Backendlayout.vue";
import API from "../../services";
export default {
  data() {
    return {
      token: "Bearer " + localStorage.getItem("token"),
      roleId: this.$route.params.id != null ? this.$route.params.id : 0,
      msg: null,
      classAlert: null,
      roleData: [],
      tableData: [],
    };
  },
  components: {
    Backendlayout,
  },

  beforeMount() {
    this.getRoles();
    this.getTables();
  },

  methods: {
    getTables() {
      API.get("role/list_table", {
        headers: { Authorization: this.token },
      })
        .then((res) => {
          this.tableData = res.data.data;
        })
        .catch((err) => {
          console.log(err.response);
        });
    },

    getRoles() {
      API.get("role/get_roleby_id/" + this.roleId, {
        headers: { Authorization: this.token },
      })
        .then((res) => {
          console.log(res);
          this.roleData = res.data.data;
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
  },
};
</script>
<style scoped>
.submitbtn {
  padding: 33px 0px;
}
.form-check {
  position: relative;
  top: 30px;
}
</style>