/* YOUR CUSTOM CSS */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	border: none;
	top: -8px !important;
    right: -7px;
    left: unset;
    font-size: 18px;
    padding: 0 6px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li{
	padding: 6px 15px;
}
.select2-container--default .select2-selection--multiple{
	border: 1px solid #ced4da;
	padding-bottom: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear{
	font-size: 18px;
}