<template>
  <Backendlayout>
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Users</li>
        </ol>
        <div class="box_general">
          <div class="header_box">
            <h2 class="d-inline-block">All Users</h2>
          </div>
          <div class="list_general">
            <table class="table">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Module</th>
                <th>Company</th>
                <th>Action</th>
              </tr>
              <tbody>
                <tr v-for="(user, index) in userData" :key="user.id">
                  <th scope="row">{{ index + 1 }}</th>
                  <td>{{ user.firstname }}{{ user.lastname }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phone_no }}</td>
                  <td>
                    <div v-for="role in user.roles" :key="role.id">
                      <label>
                        <router-link
                          :to="{
                            name: 'Edituser',
                            params: {
                              id: user.id,
                              roleId: role.role_id,
                            },
                          }"
                        >
                          {{ role.role_name }}
                        </router-link>
                        <!-- <a href="" :to="{ name: 'Edituser', params: { id: user.id }, props: { roleId: role.role_id } }"  @click="redirect(role.id, 'edit-user')">{{ role.role_name }}</a> -->
                      </label>
                    </div>
                  </td>
                  <td>
                    <div v-for="role in user.roles" :key="role.id">
                      <label>
                        {{ role.module_name }}
                      </label>
                    </div>
                  </td>
                  <td>
                    <div v-for="role in user.roles" :key="role.id">
                      <label>
                        {{ role.user_data.company_name }}
                      </label>
                    </div>
                  </td>
                  <td>
                    <a href="" @click="redirect(user.id, 'view-user')"
                      ><i class="fa fa-eye"></i
                    ></a>
                    <a href="" @click="redirect(user.id, 'edit-user')"
                      ><i class="fa fa-pencil"></i>
                    </a>
                    <a href="" @click="redirect(user.id, 'delete-user')"
                      ><i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /box_general-->
      </div>
      <!-- /.container-fluid-->
    </div>
  </Backendlayout>
</template>

<script>
import Backendlayout from "../../layouts/Backendlayout.vue";
import API from "../../services/index.js";
import router from "../../router";
// import Alert from "../../cmps/Alert";

export default {
  data() {
    return {
      msg: null,
      classAlert: null,
      userData: [],
    };
  },
  components: {
    Backendlayout,
  },

  beforeMount() {
    this.getUsers();
  },

  methods: {
    redirect(userid, url) {
      router.push(url + "/" + btoa(userid));
    },
    getUsers() {
      const token = "Bearer " + localStorage.getItem("token");
      API.get("user/all_users", {
        headers: { Authorization: token },
      })
        .then((res) => {
          this.userData = res.data.data;
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
  },
};
</script>
<style scoped>
table .fa {
  margin-left: 12px !important;
}
</style>
