/*-------- 2.5 Login/register --------*/
#login_bg, #register_bg {
  background: url(../img/hero_in_bg_3.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

#register_bg {
  background: url(../img/india.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#login figure, #register figure {
  text-align: center;
  border-bottom: 1px solid #ededed;
  margin: -45px -60px 25px -60px;
  padding: 20px 60px 25px 60px;
}
@media (max-width: 767px) {
  #login figure, #register figure {
    margin: -30px -30px 20px -30px;
    padding: 15px 60px 20px 60px;
  }
}
#login aside, #register aside {
  width: 430px;
  padding: 45px 60px 60px 60px;
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: auto;
  background-color: #fff;
  min-height: 100vh;
}
@media (max-width: 767px) {
  #login aside, #register aside {
    width: 100%;
    padding: 30px;
  }
}
#login aside form, #register aside form {
  margin-bottom: 60px;
  display: block;
}
#login aside form .form-group input, #register aside form .form-group input {
  padding-left: 40px;
}
#login aside form .form-group i, #register aside form .form-group i {
  font-size: 21px;
  font-size: 1.3125rem;
  position: absolute;
  left: 12px;
  top: 40px;
  color: #ccc;
  width: 25px;
  height: 25px;
  display: block;
  font-weight: 400 !important;
}
#login aside .copy, #register aside .copy {
  text-align: center;
  position: absolute;
  height: 30px;
  left: 0;
  bottom: 30px;
  width: 100%;
  color: #999;
  font-weight: 500;
}

.access_social {
  margin-top: 45px;
}

.list_general {
  overflow-x: auto;
}