<template>
  <router-link class="" active-class="active" :to="path" tag="li">
    <a class="nav-link">{{ text }}</a>
  </router-link>
</template>

<script>
export default {
  props: ["path", "text"],
};
</script>

<style>
</style>