<template>
  <Backendlayout>
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Categories List</li>
        </ol>
        <div class="box_general">
          <div class="header_box">
            <h2 class="d-inline-block">All Categories</h2>
            <div v-if="parentData.category != null" class="text-center">
              <h2>{{ parentData.category }}</h2>
            </div>
          </div>
          <div class="list_general">
            <table class="table">
              <tr>
                <th>#</th>
                <th>Categories</th>
                <th>Child Count</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>Modified By</th>
                <th>Modified On</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              <tbody>
                <tr
                  v-for="(category, index) in categoryData"
                  :key="category.id"
                >
                  <th scope="row">{{ index + 1 }}</th>
                  <td>{{ category.category }}</td>
                  <td>
                    <a
                      href=""
                      v-if="category.child.length > 0"
                      @click="loadChild(category.id)"
                      >{{ category.child.length }}</a
                    >
                    <label v-else>0</label>
                  </td>
                  <td>{{ category.created_person }}</td>
                  <td>{{ category.created }}</td>
                  <td>{{ category.modified_person }}</td>
                  <td>{{ category.modified }}</td>
                  <td>
                    <i
                      v-if="category.is_active === '1'"
                      class="fa fa-check alert-success"
                    ></i
                    ><i v-else class="fa fa-times alert-danger"></i>
                  </td>
                  <td>
                    <a
                      :href="
                        '/view-category/' + this.$root.encodeString(category.id)
                      "
                      ><i class="fa fa-eye"></i
                    ></a>
                    <a
                      :href="
                        '/edit-category/' + this.$root.encodeString(category.id)
                      "
                      ><i class="fa fa-pencil"></i>
                    </a>
                    <a href="" @click="redirect(category.id, 'delete-category')"
                      ><i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /box_general-->
      </div>
      <!-- /.container-fluid-->
    </div>
  </Backendlayout>
</template>

<script>
import Backendlayout from "../../layouts/Backendlayout.vue";
import API from "../../services/index.js";
// import Alert from "../../cmps/Alert";
import { useRoute } from "vue-router";
export default {
  data() {
    const route = useRoute();
    // alert(route.params.id);
    return {
      parentId: route.params.id != null ? route.params.id : 0,
      msg: null,
      classAlert: null,
      categoryData: [],
      parentData: [],
    };
  },
  components: {
    Backendlayout,
  },

  beforeMount() {
    this.getCategory();
    this.getCategorydetail();
  },

  methods: {
    loadChild(parent) {
      this.$router.push("/all-categories/" + btoa(parent));
    },
    redirect(categoryid, url) {
      this.$router.push(url + "/" + btoa(categoryid));
    },

    getCategory() {
      const token = "Bearer " + localStorage.getItem("token");
      API.get("categories/parent_services/" + this.parentId, {
        headers: { Authorization: token },
      })
        .then((res) => {
          this.categoryData = res.data.data;
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
    getCategorydetail() {
      const token = "Bearer " + localStorage.getItem("token");
      API.get("categories/view_category/" + this.parentId, {
        headers: { Authorization: token },
      })
        .then((res) => {
          this.parentData = res.data.data;
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
  },
};
</script>
<style scoped>
table .fa {
  margin-left: 12px !important;
}
</style>
