<template>
  <Backendlayout>
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Edit Service</li>
        </ol>
        <div class="box_general padding_bottom">
          <div class="header_box version_2">
            <h2><i class="fa fa-home"></i>Services</h2>
          </div>
          <form
            autocomplete="off"
            @submit.prevent="updateServices()"
            method="post"
          >
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Select Parent Id</label>
                  <div class="styled-select">
                    <select
                      v-model="selected_catgeory"
                      name="categories[][parent_id]"
                    >
                      <option
                        v-for="(cat, index) in categories"
                        :value="cat.id"
                        :key="index"
                      >
                        {{ cat.category }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Category Name</label>
                  <input
                    type="text"
                    v-model="categoryData.category"
                    class="form-control"
                    placeholder="Enter Category..."
                    name="categories[][category_name]"
                  />
                </div>
              </div>
            </div>
            <!-- /row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Priority</label>
                  <input
                    type="number"
                    v-model="categoryData.priority"
                    class="form-control"
                    name="categories[][priority]"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="submitbtn">
                  <button type="submit" class="btn_1 medium">Submit</button>
                </div>
                <alert v-if="msg" :msg="msg" :classAlert="classAlert"></alert>
              </div>
            </div>
            <!-- /row-->
          </form>
        </div>
        <!-- /box_general-->
      </div>
      <!-- /.container-fluid-->
    </div>
  </Backendlayout>
</template>

<script>
import Backendlayout from "../../layouts/Backendlayout.vue";
import router from "../../router";
import API from "../../services/index.js";
import Alert from "../../components/Alert";

export default {
  data() {
    return {
      catId: this.$route.params.id,
      token: "Bearer " + localStorage.getItem("token"),
      parent_id: "",
      category: "",
      priority: "",
      msg: null,
      classAlert: null,
      categories: [],
      categoryData: {
        parent_id: 0,
        category: "",
        priority: 0,
      },
    };
  },
  components: {
    Backendlayout,
    Alert,
  },

  beforeMount() {
    this.getParentservices();
    this.getCategory();
  },

  methods: {
    getCategory() {
      //alert(this.catId);
      API.get("categories/category_details/" + this.catId, {
        headers: { Authorization: this.token },
      })
        .then((res) => {
          this.categoryData = res.data.data;
          console.log(this.categoryData);
        })
        .catch((err) => {
          console.log(err.response);
        });
    },

    getParentservices() {
      const token = "Bearer " + localStorage.getItem("token");
      // alert(token);

      API.get("categories/parent_services", {
        headers: { Authorization: token },
      })
        .then((res) => {
          this.categories = res.data.data;
          console.log(this.categories);
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
    updateServices() {
      const form = new FormData();
      form.append("categories[0]['parent_id]", this.parent_id);
      form.append("categories[0]['category']", this.category);
      form.append("categories[0]['priority']", this.priority);
      const token = "Bearer " + localStorage.getItem("token");
      API.post("/categories/create", form, {
        headers: { Authorization: token },
      }).then((res) => {
        console.log(res.data);
        if (res.data.status == 200) {
          this.msg = "Your service is created";
          this.classAlert = "success";
          router.push("/create-services");
        } else {
          this.msg = "Service is not created";
          this.classAlert = "danger";
        }
      });
      //axios
    },
  },
};
</script>
<style scoped>
.submitbtn {
  padding: 33px 0px;
}
</style>
