<template>
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-default fixed-top"
    id="mainNav"
  >
    <a class="navbar-brand" href="/dashboard">
      <h1 style="color: #fff !important; font-size: 28px">Travel-Friends</h1>
      <!-- <img src="../../public/admin/img/logo.png" alt="" width="150" height="36" >-->
    </a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <Nav />
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input
                class="form-control search-top"
                type="text"
                placeholder="Search for..."
              />
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <!--a class="nav-link"  @click.prevent="logOut()">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a-->
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <main>
    <slot></slot>
  </main>
  <!-- /main -->

  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © Travel Friends 2021</small>
      </div>
    </div>
  </footer>
  <!--/footer-->
  <!-- page -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Select "Logout" below if you are ready to end your current session.
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            Cancel
          </button>
          <a class="btn btn-primary" href="#" @click.prevent="logOut()"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
//import Frontnav from "./Frontnav.vue";
import Nav from "../components/Nav";
export default {
  components: { Nav },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },

  methods: {
    logOut() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/");
    },
  },
};
</script>
