<template>
  <body class="datepicker_mobile_full">
    <noscript>
      <strong
        >We're sorry but {{ htmlWebpackPlugin.options.title }} doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="page">
      <header class="header menu_fixed">
        <!-- <div id="preloader"><div data-loader="circle-side"></div></div> -->
        <!-- /Page Preload -->
        <div id="logo">
          <a href="index.html">
            <img
              src="../../public/frontend/img/logo.svg"
              width="150"
              height="36"
              alt=""
              class="logo_normal"
            />
            <img
              src="../../public/frontend/img/logo_sticky.svg"
              width="150"
              height="36"
              alt=""
              class="logo_sticky"
            />
          </a>
        </div>
        <ul id="top_menu">
          <li>
            <a href="cart-1.html" class="cart-menu-btn" title="Cart"
              ><strong>4</strong></a
            >
          </li>
          <li>
            <a href="#sign-in-dialog" id="sign-in" class="login" title="Sign In"
              >Sign In</a
            >
          </li>
          <li>
            <a
              href="wishlist.html"
              class="wishlist_bt_top"
              title="Your wishlist"
              >Your wishlist</a
            >
          </li>
        </ul>
        <!-- /top_menu -->
        <a href="#menu" class="btn_mobile">
          <div class="hamburger hamburger--spin" id="hamburger">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
        </a>
        <!--Frontnav /-->
        <app-nav :loggedIn="loggedIn"></app-nav>
      </header>
      <!-- /header -->

      <main>
        <slot></slot>
      </main>
      <!-- /main -->

      <footer>
        <div class="container margin_60_35">
          <div class="row">
            <div class="col-lg-5 col-md-12 p-r-5">
              <p>
                <img
                  src="../../public/frontend/img/logo.svg"
                  width="150"
                  height="36"
                  alt=""
                />
              </p>
              <p>
                Mea nibh meis philosophia eu. Duis legimus efficiantur ea sea.
                Id placerat tacimates definitionem sea, prima quidam vim no. Duo
                nobis persecuti cu. Nihil facilisi indoctum an vix, ut delectus
                expetendis vis.
              </p>
              <div class="follow_us">
                <ul>
                  <li>Follow us</li>
                  <li>
                    <a href="#0"><i class="ti-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#0"><i class="ti-twitter-alt"></i></a>
                  </li>
                  <li>
                    <a href="#0"><i class="ti-google"></i></a>
                  </li>
                  <li>
                    <a href="#0"><i class="ti-pinterest"></i></a>
                  </li>
                  <li>
                    <a href="#0"><i class="ti-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 ml-lg-auto">
              <h5>Useful links</h5>
              <ul class="links">
                <li><a href="about.html">About</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="blog.html">News &amp; Events</a></li>
                <li><a href="contacts.html">Contacts</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6">
              <h5>Contact with Us</h5>
              <ul class="contacts">
                <li>
                  <a href="tel://61280932400"
                    ><i class="ti-mobile"></i> + 61 23 8093 3400</a
                  >
                </li>
                <li>
                  <a href="mailto:info@Panagea.com"
                    ><i class="ti-email"></i> info@Panagea.com</a
                  >
                </li>
              </ul>
              <div id="newsletter">
                <h6>Newsletter</h6>
                <div id="message-newsletter"></div>
                <form
                  method="post"
                  action="assets/newsletter.php"
                  name="newsletter_form"
                  id="newsletter_form"
                >
                  <div class="form-group">
                    <input
                      type="email"
                      name="email_newsletter"
                      id="email_newsletter"
                      class="form-control"
                      placeholder="Your email"
                    />
                    <input
                      type="submit"
                      value="Submit"
                      id="submit-newsletter"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--/row-->
          <hr />
          <div class="row">
            <div class="col-lg-6">
              <ul id="footer-selector">
                <li>
                  <div class="styled-select" id="lang-selector">
                    <select>
                      <option value="English" selected>English</option>
                      <option value="French">French</option>
                      <option value="Spanish">Spanish</option>
                      <option value="Russian">Russian</option>
                    </select>
                  </div>
                </li>
                <li>
                  <div class="styled-select" id="currency-selector">
                    <select>
                      <option value="US Dollars" selected>US Dollars</option>
                      <option value="Euro">Euro</option>
                    </select>
                  </div>
                </li>
                <li>
                  <img src="../../public/frontend/img/cards_all.svg" alt="" />
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul id="additional_links">
                <li><a href="#0">Terms and conditions</a></li>
                <li><a href="#0">Privacy</a></li>
                <li><span>© 2019 Panagea</span></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!--/footer-->
    </div>
    <!-- page -->

    <div id="toTop"></div>
    <!-- Back to top button -->
  </body>
</template>
<script>
//import Frontnav from "./Frontnav.vue";
import Nav from "../cmps/Nav";
export default {
  computed: {
    loggedIn() {
      return this.$store.getters.loginState;
    },
  },
  components: {
    // Frontnav,
    appNav: Nav,
  },
};
</script>
