<template>
  <Backendlayout>
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Edit User</li>
        </ol>
        <div class="box_general padding_bottom">
          <div class="header_box version_2">
            <h2><i class="fa fa-home"></i>User</h2>
          </div>
          <form autocomplete="off" @submit.prevent="createUser()" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input
                    type="text"
                    v-model="firstname"
                    class="form-control"
                    placeholder="Enter First name..."
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input
                    type="text"
                    v-model="lastname"
                    class="form-control"
                    placeholder="Last Name"
                  />
                </div>
              </div>
            </div>
            <!-- /row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email </label>
                  <input type="email" v-model="email" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Phone </label>
                  <input type="text" v-model="phone" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Password </label>
                  <input
                    type="password"
                    v-model="password"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Confirm Password </label>
                  <input
                    type="password"
                    v-model="password_confirm"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Choose Role</label>
                  <div class="styled-select">
                    <select v-model="roleid">
                      <option
                        v-for="(role, index) in roleData"
                        :value="role.id"
                        :key="index"
                      >
                        {{ role.role_name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="submitbtn">
                  <button type="submit" class="btn_1 medium">Submit</button>
                </div>
                <alert v-if="msg" :msg="msg" :classAlert="classAlert"></alert>
              </div>
            </div>
            <!-- /row-->
          </form>
        </div>
        <!-- /box_general-->
      </div>
      <!-- /.container-fluid-->
    </div>
  </Backendlayout>
</template>


<script>
import Backendlayout from "../../layouts/Backendlayout.vue";
import API from "../../services/index.js";
// import router from "../../router";
import Alert from "../../components/Alert";

export default {
  data() {
    return {
      firstname: "",
      lastname: "",
      phone: "",
      email: "",
      password: "",
      password_confirm: "",
      roleid: "",
      msg: null,
      classAlert: null,
      roleData: [],
    };
  },
  components: {
    Backendlayout,
    Alert,
  },

  beforeMount() {
    this.getRoles();
  },

  methods: {
    getRoles() {
      const token = "Bearer " + localStorage.getItem("token");
      API.get("role/employee_role", {
        headers: { Authorization: token },
      })
        .then((res) => {
          console.log(res);
          this.roleData = res.data.data;
          console.log(this.roleData);
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
    createUser() {
      if (this.password != this.password_confirm) {
        this.msg =
          "The password_confirm field does not match the password field";
        this.classAlert = "danger";
        return false;
      }
      const form = new FormData();
      form.append("first_name", this.firstname);
      form.append("last_name", this.lastname);
      form.append("primary_email", this.email);
      form.append("mobile_1", this.phone);
      form.append("password", this.password);
      form.append("password_confirm", this.password_confirm);
      form.append("role_id", this.roleid);

      const token = "Bearer " + localStorage.getItem("token");
      API.post("/user/register", form, {
        headers: { Authorization: token },
      }).then((res) => {
        if (res.data.status == 200) {
          this.msg = res.data.messages;
          this.classAlert = "success";
          this.$route.push("/all-users");

        } else {
          this.msg = res.data.messages;
          this.classAlert = "danger";
        }
      });
      //axios
    },
  },
};
</script>
<style scoped>
.submitbtn {
  padding: 33px 0px;
}
</style>
