<template>
  <Backendlayout>
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Edit User</li>
        </ol>
        <div class="box_general padding_bottom">
          <div class="header_box version_2">
            <h2>
              <img
                class="img-responsive rounded-circle profile"
                v-if="userData.profile_img != ''"
                :src="img_url + userData.profile_img"
              />{{ userData.first_name }} {{ userData.last_name }} {{ APP_URL }}
            </h2>
          </div>
          <form autocomplete="off" @submit.prevent="updateUser()" method="post">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>First Name</label>
                  <input
                    type="text"
                    v-model="userData.first_name"
                    class="form-control"
                    placeholder="Enter First Name..."
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Middle Name</label>
                  <input
                    type="text"
                    v-model="userData.middle_name"
                    class="form-control"
                    placeholder="Enter Middle Name"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Last Name</label>
                  <input
                    type="text"
                    v-model="userData.last_name"
                    class="form-control"
                    placeholder="Enter Last Name"
                  />
                </div>
              </div>
            </div>
            <!-- /row-->
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Email 2</label>
                  <input
                    type="email"
                    v-model="userData.secondary_email"
                    class="form-control"
                    placeholder="Enter Email.."
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Phone 2</label>
                  <input
                    type="text"
                    v-model="userData.mobile_2"
                    class="form-control"
                    placeholder="Enter Phone.."
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label v-if="roleId == 2">Date of Incorporation</label>
                  <label v-else>Date of Birth</label>
                  <input
                    type="date"
                    v-model="userDob"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="col-md-4" v-show="roleId == 2">
                <div class="form-group">
                  <label>Shop Name</label>
                  <input
                    type="text"
                    v-model="userData.company_name"
                    class="form-control"
                    placeholder="Enter Shop Name.."
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>PAN</label>
                  <input
                    type="text"
                    v-model="userData.pan_no"
                    class="form-control"
                    placeholder="Enter PAN.."
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>GST</label>
                  <input
                    type="text"
                    v-model="userData.gst_no"
                    class="form-control"
                    placeholder="Enter GST.."
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label v-if="roleId == 2">Upload Logo</label>
                  <label v-else>Upload Profile Image</label>

                  <div class="form-group">
                    <div v-if="!image">
                      <input type="file" @change="onFileChange" />
                    </div>
                    <div v-else class="show_img">
                      <img :src="image" />
                      <button @click="removeImage">Remove image</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="submitbtn">
                  <button type="submit" class="btn_1 medium">Submit</button>
                </div>
                <alert v-if="msg" :msg="msg" :classAlert="classAlert"></alert>
              </div>
            </div>
            <!-- /row-->
          </form>
        </div>
        <!-- /box_general-->
      </div>
      <!-- /.container-fluid-->
    </div>
  </Backendlayout>
</template>


<script>
import Backendlayout from "../../layouts/Backendlayout.vue";
import API from "../../services/index.js";
// import router from "../../router";
import Alert from "../../components/Alert";

export default {
  data() {
    // console.log(process.env.VUE_APP_API_URL)
    //alert(this.$router.currentRoute.params.roleId+" "+this.$router.currentRoute.params.id);
    return {
      img_url: "https://peekzy.in/backend/public/assets/uploads/",
      token: "Bearer " + localStorage.getItem("token"),
      roleId: this.$route.params.roleId,
      loginId: this.$route.params.id,
      userDob: "",
      msg: null,
      classAlert: null,
      userData: [],
      profile_img: null,
      image: "",
    };
  },
  components: {
    Backendlayout,
    Alert,
  },

  beforeMount() {
    this.getUserdetails();
  },

  methods: {
    getUserdetails() {
      console.log(this.APP_URL);
      const form = new FormData();
      form.append("role_id", this.roleId);
      form.append("login_id", this.loginId);

      API.post("/profile/role_wise_userDetails", form, {
        headers: { Authorization: this.token },
      })
        .then((response) => {
          this.userData = response.data.data;
          this.userDob = this.$root.frontEndDateFormat(this.userData.dob);
          //alert(this.userData.dob)
        })
        .catch((err) => {
          console.log(err.response);
        });
    },

    updateUser() {
      const form = new FormData();
      form.append("login_id", this.loginId);
      form.append("first_name", this.userData.first_name);
      form.append("last_name", this.userData.last_name);
      form.append("middle_name", this.userData.middle_name);
      form.append("secondary_email", this.userData.secondary_email);
      form.append("mobile_2", this.userData.mobile_2);
      form.append("dob", this.userData.dob);
      form.append("company_name", this.userData.company_name);
      form.append("gst_no", this.userData.gst_no);
      form.append("pan_no", this.userData.pan_no);
      form.append("role_id", this.roleId);

      if (this.profile_img != null) {
        form.append("profile_img", this.profile_img);
      } else {
        form.append("profile_img", this.userData.profile_img);
      }

      const token = "Bearer " + localStorage.getItem("token");
      API.post("/profile/update", form, {
        headers: { Authorization: token },
      }).then((res) => {
        if (res.data.status == 200) {
          this.msg = res.data.messages;
          this.classAlert = "success";
          this.$router.push("/all-users");
        } else {
          this.msg = res.data.messages;
          this.classAlert = "danger";
        }
      });
      //axios
    },

    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
      this.profile_img = files[0];
    },
    createImage(file) {
      this.image = new Image();
      var reader = new FileReader();

      reader.onload = (e) => {
        this.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage: function () {
      this.image = "";
    },
  },
};
</script>
<style scoped>
.submitbtn {
  padding: 33px 0px;
}
.show_img,
.profile {
  height: 100px !important;
}
</style>
