<template>
  <Backendlayout>
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">User</li>
        </ol>
        <div class="box_general">
          <div class="header_box">
            <h2 class="d-inline-block">User Details</h2>
            
          </div>
          <div class="list_general">
            <ul>
              <li>
                <figure><img
                class="img-responsive rounded-circle profile"
                v-if="userData.profile_img != ''"
                :src="
                  img_url + userData.profile_img
                "
              /></figure>
                <h4>{{ userData.first_name }} {{ userData.last_name }}</h4>
                <ul class="booking_list">
                  <li><strong>About Us</strong>{{ userData.about_us }}</li>
                  <li><strong>Company Name</strong>{{ userData.company_name }}</li>
                  <li><strong>Mobile 1</strong>{{ userData.mobile_1 }}</li>
                  <li><strong>Mobile 2</strong>{{ userData.mobile_2 }}</li>
                  <li><strong>Primary Email</strong>{{ userData.primary_email }}</li>
                  <li><strong>Secondary Email</strong>{{ userData.secondary_email }}</li>
                  <li><strong>DOB</strong>{{ userDob }}</li>
                  <li><strong>GST No</strong>{{ userData.gst_no }}</li>
                  <li><strong>PAN No</strong>{{ userData.pan_no }}</li>
                  <li><strong>Created By</strong>{{ userData.created }}</li>
                  <li><strong>Modified By</strong>{{ userData.modified_by }}</li>
                  <li><strong>Created</strong>{{ created }}</li>
                  <li><strong>Modified</strong>{{ modified }}</li>
                  <li>
                    <strong>Is Active</strong>
                    <i
                      v-if="userData.is_active === '1'"
                      class="fa fa-check alert-success"
                    ></i
                    ><i v-else class="fa fa-times alert-danger"></i>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- /box_general-->
      </div>
      <!-- /.container-fluid-->
    </div>
  </Backendlayout>
</template>

<script>
import Backendlayout from "../../layouts/Backendlayout.vue";
import API from "../../services";
export default {
  data() {
    return {
      img_url: 'https://peekzy.in/backend/public/assets/uploads/',
      token: "Bearer " + localStorage.getItem("token"),
      roleId: this.$route.params.roleId,
      loginId: this.$route.params.id,
      msg: null,
      classAlert: null,
      userDob: "",
      created: "",
      modified: "",
      userData: [],
    };
  },
  components: {
    Backendlayout,
  },

  beforeMount() {
    this.getUserdetails();
  },

  methods: {
   getUserdetails() {
      console.log(this.APP_URL);
      const form = new FormData();
      form.append("role_id", this.roleId);
      form.append("login_id", this.loginId);

      API.post("/profile/role_wise_userDetails", form, {
        headers: { Authorization: this.token },
      })
        .then((response) => {
          this.userData = response.data.data;
          this.userDob = this.$root.frontEndDateFormat(this.userData.dob);
          this.created = this.$root.frontEndDateFormat(this.userData.created);
          if(this.userData.modified){
            this.modified = this.$root.frontEndDateFormat(this.userData.modified);
          }
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
  },
};
</script>
<style scoped>
.submitbtn {
  padding: 33px 0px;
}
.form-check {
  position: relative;
  top: 30px;
}
</style>